version: "3.9"

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.1
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.1
    restart: always
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    restart: always
    depends_on:
      - kafka
    ports:
      - "8082:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092

  spark-master:
    image: bitnami/spark:3.4.1
    restart: always
    container_name: spark-master
    environment:
      - SPARK_MODE=master
      - SPARK_MASTER_PORT=7077
    ports:
      - "7077:7077"
      - "8081:8080"
    volumes:
      - ../../infrastructure/configs/spark/java.security:/opt/bitnami/java/security/java.security
      - ../../infrastructure/configs/spark/jars:/opt/bitnami/spark/jars

  spark-worker:
    image: bitnami/spark:3.4.1
    restart: always
    container_name: spark-worker
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
    ports:
      - "8083:8081"
    volumes:
      - ../../infrastructure/configs/spark/java.security:/opt/bitnami/java/security/java.security
      - ../../infrastructure/configs/spark/jars:/opt/bitnami/spark/jars

  spark-streaming:
    image: bitnami/spark:3.4.1
    restart: always
    depends_on:
      - kafka
      - spark-master
    working_dir: /app
    volumes:
      - ../../2_stream_processing/spark_jobs:/app
      - ../../infrastructure/configs/spark/jars:/opt/bitnami/spark/jars
      - ../../infrastructure/configs/spark/java.security:/opt/bitnami/java/security/java.security
    command: >
      bash -c "
        /opt/bitnami/spark/bin/spark-submit
        --master spark://spark-master:7077
        clean_stream.py
      "
